<router-outlet>
<h1>Amanda Dantas - RM552352</h1>

<h3>Exercicio 1</h3>
<app-ex1></app-ex1>

<h3>Exercicio 2: Lista de Compras</h3>
<app-ex2></app-ex2>


<h3>Exercicio 3</h3>
<app-ex3></app-ex3>

<h3>Exercicio 4: Lista de Tarefas</h3>
<app-ex4></app-ex4>

<h3>Exercicio 5: Status do Pedido</h3>
<app-ex5></app-ex5>

<h3>Exercicio 6: Lista de Usuários</h3>
<app-ex6></app-ex6>
<router-outlet/>

<h3>Exercicio 7</h3>
<app-ex7></app-ex7>

<h3>Exercicio 8</h3>
<app-ex8></app-ex8>

<h3>Exercicio 9</h3>
<app-ex9></app-ex9>

<h3>Exercicio 10</h3>
<app-ex10></app-ex10>